main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 119mm;
    justify-content: space-between;
}

    main > div {
        height: 10%;
        background-repeat: no-repeat;
        background-size: 100mm 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

div > h4 {
    text-decoration: underline;
    padding-left: 15px;
}

.yellowArrow {
    background-image: url(css/Background/Arrow-Yellow.png);
}

.blackArrow {
    background-image: url(css/Background/Arrow-Black.png);
    color: white;
}

select.cart {
    font-size: 15px;
    margin-right: 53mm;
}

.Choice {
    display: flex;
    align-items: center;
    justify-content: end;
}

p {
    width: 20mm;
    color: black;
    font-size: small;
    font-weight: bold;
    padding-right: 6mm;
}

input.Check {
    width: 24px;
    height: 24px;
}

input.numeric {
    width: 40px;
    height: 24px;
    font-size: 15px;

}

input {
    margin-right: 27mm;
}
