<main>
    <div class="Even"><h4>Vogn</h4></div>
    <div class="Uneven"><h4>Tidspunkt</h4></div>
    <div class="Even"><h4>Cykel</h4></div>
    <div class="Uneven"><h4>Opbæring</h4></div>
    <div class="Even"><h4>Lufthavn</h4></div>
    <div class="Uneven"><h4>5-6 passagerer</h4></div>
    <div class="Even"><h4>LiftVogn</h4></div>
    <div class="Uneven"><h4>Øresund</h4></div>
    <div class="Even" ><h4>Storebæltsbroen</h4></div>
</main>