@inherits LayoutComponentBase

<div id="top">
    <Title />
</div>
<main>
    <div class="CoreColor" id="left">
        worm
    </div>
    <div id="right">
        <div class="CoreColor" style="margin-bottom:16px;height">
            @Body
        </div>
        <div class="CoreColor">
            silly
        </div>
    </div>

</main>