#top {
    height: 24mm;
}

main {
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

    main > div {
    }

.CoreColor {
    border: solid;
    border-width: 2px;
    background-color: ghostwhite;
}

#left {
    margin-right: 8px;
    width: 30%;
}

#right {
    margin-left: 8px;
    width: 70%;
}
