#top {
    height: 20mm;
}

main {
    margin-top: 14px;
    display: flex;
    /*height: 168mm;*/
}

.CoreColor {
    border: solid;
    border-width: 2px;
    background-color: white;    
    
}

#left {
    margin-right: 8px;
    width: 30%;
}

#right {
    margin-left:8px;
    width: 70%;
    border:solid;
}
