@inherits LayoutComponentBase

<div id="top">
    <Title></Title>
</div>
<main>
    <div class="CoreColor" id="left">
        <Options></Options>
    </div>
    <div id="right">
        <div class="CoreColor">
            <Map></Map>
        </div>
        <div class="CoreColor" id="result">
            @Body
        </div>
    </div>
</main>
