#Base {
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    background-image: url(css/Background/Triangle.png);
    background-repeat: no-repeat;
    background-size: 115mm 100%;
    background-position: center;
}

    #Base > h2 {
        margin: 1mm;
        text-align: center;
    }
