<EditForm Model="@OptionForm" style="height:100%;">
    <main>
        <div class="yellowArrow">
            <h4>Vogn</h4>
            <label for="Size"></label>
            <InputSelect @bind-Value=OptionForm.Size name="size" id="Size" class="cart">
                <option value="Default" disabled>Vælg vogn</option>
                <option value="Normal">Almindelig</option>
                <option value="Large">Stor</option>
            </InputSelect>
        </div>
        <div class="blackArrow">
            <h4>Periode</h4>
            <InputSelect @bind-Value=OptionForm.Period name="time" class="cart">
                <option value="Default" disabled>Vælg periode</option>
                <option value="Day">Dag</option>
                <option value="Night">Nat</option>
                <option value="Weekend">Weekend</option>
                <option value="Holiday">Helligdag</option>
                <option value="Dec24">24 dec</option>
                <option value="Dec31">31 dec</option>
            </InputSelect>
        </div>
        <div class="yellowArrow">
            <h4>Cykler</h4>
            <div class="Choice">
                <InputNumber @bind-Value=OptionForm.Bicycle class="numeric"/>
                <p>+ 30kr.</p>
            </div>
        </div>
        <div class="blackArrow">
            <h4>Opbæringer</h4>
            <div class="Choice">
                <InputNumber @bind-Value=OptionForm.Carry class="numeric"/>
                <p>+ 30kr.</p>
            </div>
        </div>
        <div class="yellowArrow">
            <h4>Lufthavn</h4>
            <div class="Choice">
                <InputCheckbox @bind-Value=OptionForm.Airport class="Check"/>
                <p>+ 15kr.</p>
            </div>
        </div>
        <div class="blackArrow">
            <h4>5-6 passengerer</h4>
            <div class="Choice">
                <InputCheckbox @bind-Value=OptionForm.Passengers class="Check"/>
                <p>+ 40kr.</p>
            </div>
        </div>
        <div class="yellowArrow">
            <h4>LiftVogn</h4>
            <div class="Choice">
                <InputCheckbox @bind-Value=OptionForm.LiftCart class="Check"/>
                <p>+ 350kr.</p>
            </div>
        </div>
        <div class="blackArrow">
            <h4>Øresund</h4>
            <div class="Choice">
                <InputCheckbox @bind-Value=OptionForm.Øresund class="Check"/>
                <p>+ 350kr.</p>
            </div>
        </div>
        <div class="yellowArrow">
            <h4>Storebæltsbroen</h4>
            <div class="Choice">
                <InputCheckbox @bind-Value=OptionForm.Storebæltsbroen class="Check"/>
                <p>+ 540kr.</p>
            </div>
        </div>
    </main>
</EditForm>

@code {
    
    public Input OptionForm { get; set; } = new();

}