main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 119mm;
    justify-content: space-between;
}

    main > div {
        height: 15mm;
        margin-bottom: 11px;
        background-repeat: no-repeat;
        background-size: 100mm 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

#bottom {
    margin-bottom: 0;
}

div > label {
    text-decoration: underline;
    padding-left: 15px;
    font-weight: bold;
    font-size: 1em;
    pointer-events: none;
}

.yellowArrow {
    background-image: url(css/Background/Arrow-Yellow.png);
}

.blackArrow {
    background-image: url(css/Background/Arrow-Black.png);
    color: white;
}

::deep select.cart {
    font-size: 15px;
    margin-right: 53mm;
    border: solid;
    border-color: gray;
    border-width: 2px;
    border-radius: 0;
}

.Choice {
    display: flex;
    align-items: center;
}

p {
    width: 20mm;
    color: black;
    font-size: small;
    font-weight: bold;
    padding-right: 6mm;
}

::deep input.Check {
    width: 24px;
    height: 24px;
}

::deep .numeric {
    width: 40px;
    height: 24px;
    font-size: 15px;
    border: solid;
    border-color: gray;
    border-width: 2px;
    border-radius: 0;
}

::deep input {
    margin-right: 27mm;
}

::deep #validationText {
    font-size: 15px;
    color: red;
}
