<EditForm Model="Form" id="Submitform" style="height:100%;" OnValidSubmit="()=>FormChange.InvokeAsync(Form)">
    <DataAnnotationsValidator />
    <main>
        <div class="yellowArrow">
            <label for="size">Vogn</label>
            <InputSelect @bind-Value=Form.Size id="size" class="cart">
                <option selected disabled>Vælg vogn</option>
                <option value="Normal">Almindelig</option>
                <option value="Large">Stor</option>
            </InputSelect>
        </div>
        <div class="blackArrow">
            <label for="period">Periode</label>
            <InputSelect @bind-Value=Form.Period class="cart" id="period">
                <option selected disabled>Vælg periode</option>
                <option value="Day">Dag</option>
                <option value="Night">Nat</option>
                <option value="Weekend">Weekend</option>
                <option value="Holiday">Helligdag</option>
                <option value="Dec24">24 dec</option>
                <option value="Dec31">31 dec</option>
            </InputSelect>
        </div>
        <div class="yellowArrow">
            <label for="bike">Cykler</label>
            <div class="Choice">
                <InputNumber @bind-Value=Form.Bicycle id="bike" class="numeric" ParsingErrorMessage="@NumberFieldsErrorMSG("Cykler")" />
                <p>+ 30kr.</p>
            </div>
        </div>
        <div class="blackArrow">
            <label for="carry">Opbæringer</label>
            <div class="Choice">
                <InputNumber @bind-Value=Form.Carry id="carry" class="numeric" ParsingErrorMessage="@NumberFieldsErrorMSG("Opbæringer")" />
                <p>+ 30kr.</p>
            </div>
        </div>
        <div class="yellowArrow">
            <label for="airport">Lufthavn</label>
            <div class="Choice">
                <InputCheckbox @bind-Value=Form.Airport id="airport" class="Check" />
                <p>+ 15kr.</p>
            </div>
        </div>
        <div class="blackArrow">
            <label for="passenger">5-6 passengerer</label>
            <div class="Choice">
                <InputCheckbox @bind-Value=Form.Passengers id="passenger" class="Check" />
                <p>+ 40kr.</p>
            </div>
        </div>
        <div class="yellowArrow">
            <label for="lift">LiftVogn</label>
            <div class="Choice">
                <InputCheckbox @bind-Value=Form.LiftCart id="lift" class="Check" />
                <p>+ 350kr.</p>
            </div>
        </div>
        <div class="blackArrow">
            <label for="øresund">Øresund</label>
            <div class="Choice">
                <InputCheckbox @bind-Value=Form.Øresund id="øresund" class="Check" />
                <p>+ 350kr.</p>
            </div>
        </div>
        <div class="yellowArrow" id="bottom">
            <label for="bridge">Storebæltsbroen</label>
            <div class="Choice">
                <InputCheckbox @bind-Value=Form.Storebæltsbroen id="bridge" class="Check" />
                <p>+ 540kr.</p>
            </div>
        </div>
        <ValidationSummary id="validationText" />
    </main>
</EditForm>

