#body {
    display: flex;
    flex-direction: column;
    padding: 13px;
    align-items: center;
}

header {
    display: inherit;
    justify-content: space-around;
    width: 105mm;
    padding-left: 2mm;
    padding-right: 2mm;
    border: solid;
    border-radius: 17px;
    border-color: dimgray;
    border-width: 2px;
    height: 15mm;
}

    header > div {
        width: 17mm;
        margin-top: 7px;
        margin-bottom: 2px;
        text-align: center;
    }

        header > div > h5 {
            border-bottom: solid;
            border-bottom-color: dimgrey;
            border-bottom-width: 1px;
            margin-top: 0;
            margin-bottom: 5px;
        }

p {
    margin: 0;
    padding: 0;
    font-size: 13.28px;
}

button {
    background-color: rgb(33,95,164);
    color: whitesmoke;
    width: 2.3cm;
    height: 9mm;
    border-radius: 7px;
    border: none;
    margin-top: 4mm;
    box-shadow: 0 6px rgb(25, 67, 113);
    font-size: 17px;
}

    button:active {
        background-color: whitesmoke;
        color: rgb(33,95,164);
        border: solid rgb(25, 67, 113);
        border-width: 4px;
        box-shadow: 0 0;
        transform: translateY(6px);
    }

#ResultText {
    margin-bottom: 4px;
}

h3 {
    margin: 0;
    margin-bottom: 4px;
    border-bottom: double;
    border-bottom-width: 4.5px;
    padding-left: 7px;
    padding-right: 7px;
}
