@page "/"   

<PageTitle>Taxa App</PageTitle>

<div class="CoreColor" id="left">
    <Options FormChange="@UpdateOptionForm"/>
</div>
<div id="right">
    <div class="CoreColor">
        <Map />
    </div>
    <div class="CoreColor" id="result">
        <Result  />
    </div>
</div>
