@page "/"

<PageTitle>Taxa App</PageTitle>

<div id="body">
    <header>
        <div>
            <h5>Start</h5>
        </div>
        <div>
            <h5>Kr./km</h5>
            <p></p>
        </div>
        <div>
            <h5>Kr./min</h5>
        </div>
        <div>
            <h5>Rejsetid</h5>
        </div>
        <div>
            <h5>Distance</h5>
        </div>
    </header>
    <main>
        <h1>The output</h1>
    </main>
</div>